
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="0">

    <link rel="icon" type="image/png" href="~/Content/images/index.ico">

    <!-- Jquery -->
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <!-- Pace -->
    <link href="~/Content/css/pace.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/Content/css/endless.min.css" rel="stylesheet">
    <link href="~/Content/css/endless-skin.css" rel="stylesheet">

    <!-- style -->
    <link href="~/Content/style/style.css" rel="stylesheet">
</head>

@{
    Layout = null;
}

<body oncontextmenu="return false" ondragstart="return false">
    <div class="login-wrapper">

        <div class="login-widget animation-delay1">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="text-center">
                        <div class="logo-nav"><img src="~/Content/images/logo-nav.png" /></div>

                    </div>
                </div>
                <div class="panel-body">
                    <input type="button" id="btnAdminSV" class="btn btn-primary btn-block" value="Administrator entry" />
                </div>
            </div><!-- /panel -->
        </div><!-- /login-widget -->
        <!-- footer -->
        <div class="col-sm-6 centrar">
            <span class="footer-brand">
                <strong class="text-primary">Test</strong>
            </span>
            <p>Developer by Jhohan Alexander Vasquez Sierra </p>
        </div><!-- /.col -->

        <div class="col-sm-12 centrar">
            <p> This site is best viewed with Internet Explorer 10, Firefox 20, Google Chrome 25 (or higher). With a minimum resolution of 1024 x 768 pixels.</p>
        </div>

        <!-- /footer -->

    </div><!-- /login-wrapper -->
    <!-- Bootstrap -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- Datatable -->
    <script src='~/Content/js/jquery.dataTables.min.js'></script>

    <!-- Modernizr -->
    <script src='~/Content/js/modernizr.min.js'></script>

    <!-- Pace -->
    <script src='~/Content/js/pace.min.js'></script>

    <!-- Popup Overlay -->
    <script src='~/Content/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/Content/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/Content/js/jquery.cookie.min.js'></script>

    <!-- Endless -->
    <script src="~/Content/js/endless/endless.js"></script>

    <script src="~/Scripts/Util/General.js"></script>

    <script type="text/javascript">

        $('#btnAdminSV').click(function () {
            var url = '@Url.Action("Index", "LoginAdmin")';
            window.location.href = url;
        });

    </script>
</body>
</html>